*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}
.flex{
    display: flex;
}
#hao{
    justify-content: space-between;
}
header{
    justify-content: space-between;
    align-items: center;
}
.left span{
    background-color:#FF575E ;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.card1 .lack{
    grid-template-columns: span 6;
}
.card2 .lack{
    grid-template-columns: span 6;
}
.koe{
    font-size: 20px;
}
.bottom{
    gap: 30px;
    padding: 80px 0px;
    margin-top: 100px;
}
.bottom div{
    background-color:#FFE2E4;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding:20px;
    grid-column: span 3;
}
.dao{
    flex-direction: column;
    padding: 0px 20px;
}
.cat{
    justify-content: center;
    text-align: center;
    color: #FF575E;
    position: absolute;
    width: 209px;
    height: 30px;
    left: 615px;
    margin-top: -30px;
    font-size: 20px;
}
.left{
    margin: 20px 0px;
}
.left p{
    margin: 20px 0px;
}
.gap{
    gap: 170px;
}
.indo{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 70px;
}
.bor{
    background-color: white;
    border: 1px solid pink;
    border-radius: 15px;
    padding: 50px;
    width: 280px;
    text-align: center;
    grid-column: span 4;
    margin: auto;
}
.imgs{
    background-color: #FFE2E4;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}
#card h3{
    text-align: center;
    padding: 70px;
    font-size: 30px;
    color: #FF575E;
}
.card1{
    justify-content: center;
    padding: 20px;
    gap: 48px;
}
.card2{
    justify-content: center;
    padding: 0px;
    gap: 48px;
}
.pos{
    padding-top: 10px;
}
.pos1{
    padding-top: 10px;
    text-align: center;
}
.pod{
    padding-top: 20px;
}
.pos{
    box-sizing: border-box;
    text-align: center;
}
.org{
    font-size: 20px;
    color: #FF575E;
    justify-content: center;
    background-color:#FFE2E4;
    border-radius: 20px;
    margin-top: 20px;
    padding: 5px 5px;
}
.red{
    color:#FF575E;
    ;
}
.black{
    color:#362324;
}
.bor h4{
    text-align: center;
}
.haooo{
    gap: 35px;
}
.benifts{
    background-color: #FCF3F3;
    padding-bottom: 110px;

}
.benifts li{
    list-style-image: url('./hao\ img/check_circle.png');
}
.lef{
    padding-left: 60px;
}
.mid{
    padding: 30px 30px;
}
.cls{
    gap:30px;
    padding-top: 30px;
    margin-bottom: 10px;
}
.pow{
    gap:30px;
    margin-top: 20px;
}
.pow1{
    padding-right: 30px;
    margin-top: 20px;
}
.ko{
    justify-content: space-between;
    align-items: center;
}
.font{
    font-size: 25px;
    color: #FFFFFF;
    ;
}
.spot{
    background-color: #FF575E;
    padding: 40px 40px;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}
.ko{
    justify-content: space-between;
}
.color{
    color: #FFFFFF;
}
.dev{
    gap: 65px;
    color: #FFFFFF;  
}
.rop{
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}
.foot{
    color: #FFFFFF;
}
.luna{
    padding-top: 15px;
    gap: 20px;
}
.benifits1{
    grid-column: span 4;
}
.cent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}
.clr{
    color: #FF575E;
}
.med{
    display: none;
}
@media screen and (max-width:1468px){
    div.right{
        display: none;
    }
    div.benifits1{
        grid-column: span 12;
}
@media screen and (max-width: 944px){
    nav.headtag{
        display: none;
    }
}
@media screen and (max-width: 1444px){
    div.bor{
        grid-column: span 6;
    }
    div.poc{
        grid-column: span 6;
    }
    div.card2{
        grid-column: span 6;
    }
}
@media screen and (max-width: 760px){
    div.bor{
        grid-column: span 12;
    }
    div.poc{
        grid-column: span 12;
    }
    div.card2{
        grid-column: span 12;
    }
}  
@media screen and (max-width: 826px){
    div.bottom{
        flex-direction: column;
        grid-column: span 12;
    }
    div.dao{
        flex-direction: column;
        grid-column: span 12;
    }
    div.h4{
        flex-direction: column;
        grid-column: span 12;
    }
}
@media screen and (max-width: 682px) {
footer.spot{
    display: none;
}
}
@media screen and (max-width: 944px){
    div.med{
        display: block;
    }
}


    

